/*Mini-reset CSS*/

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  font-size: 16px; /*default*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  margin-top: 12vh;
  margin-bottom: 12vh;
}

img, video, object{
  max-width: 100%;
}

a.btn{
  border: 3px solid black;
  border-radius: 12px;
  text-decoration: none;
  padding: .4em;

  color: black;
}